
__pycache__/
_private/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.eggs/
.env/
.fseventsd
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nox/
.project
.pydevproject
.pytest_cache/
.Python
.python-version
.pytype/
.ruff_cache/
.settings/
.Spotlight-V100
.TemporaryItems
.tox/
.Trashes
.venv/
.VolumeIcon.icns
.vscode/
*.cover
*.egg
*.egg-info/
*.ipynb
*.py[cod]
*.pyc
*.pyo
*.so
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
*$py.class
build/
coverage.xml
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
ehthumbs.db
env.bak/
env/
htmlcov/
lib/
lib64/
MANIFEST
Network Trash Folder
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
Temporary Items
Thumbs.db
url22md/_version.py
uv.lock
var/
venv.bak/
venv/
wheels/